main{
width: 1200px;
margin: auto;
}

header{
background-color: yellow;
width: 1180px;
height: 100px;
float: left;

}

nav{
background-color: green;
float: left;
width: 300px;
height: 180px;
}

article{
background-color: grey;
float: left;
width: 880px;
height: 180px;
}

footer{
clear: both;
background-color: blue;
width: 1180px;
height: 50px;
}